In [ ]:
# Project by Jishnu Magoo

Task 1 of the data analytics internship for data cleaning and preprocessing on 'Customer Personality Analysis'

In [ ]:
# Importing necessary libraries
import numpy as np
import pandas as pd

In [36]:
# importing the dataset in zip file
df = pd.read_csv("/customer personality analysis.zip")

In [37]:
df

     ID\tYear_Birth\tEducation\tMarital_Status\tIncome\tKidhome\tTeenhome\tDt_Customer\tRecency\tMntWines\tMntFruits\tMntMeatProducts\tMntFishProducts\tMntSweetProducts\tMntGoldProds\tNumDealsPurchases\tNumWebPurchases\tNumCatalogPurchases\tNumStorePurchases\tNumWebVisitsMonth\tAcceptedCmp3\tAcceptedCmp4\tAcceptedCmp5\tAcceptedCmp1\tAcceptedCmp2\tComplain\tZ_CostContact\tZ_Revenue\tResponse
0     5524\t1957\tGraduation\tSingle\t58138\t0\t0\t0...
1     2174\t1954\tGraduation\tSingle\t46344\t1\t1\t0...
2     4141\t1965\tGraduation\tTogether\t71613\t0\t0\...
3     6182\t1984\tGraduation\tTogether\t26646\t1\t0\...
4     5324\t1981\tPhD\tMarried\t58293\t1\t0\t19-01-2...
...                                                 ...
2235  10870\t1967\tGraduation\tMarried\t61223\t0\t1\...
2236  4001\t1946\tPhD\tTogether\t64014\t2\t1\t10-06-...
2237  7270\t1981\tGraduation\tDivorced\t56981\t0\t0\...
2238  8235\t1956\tMaster\tTogether\t69245\t0\t1\t24-...
2239  9405\t1954\tPhD\tMarried\t52869\t1\t1\t15-10-2...

[2240 rows x 1 columns]

In [ ]:
# The dataset is not a comma seperated value csv and is a delimiter seperated so we use sep function

In [38]:
df = pd.read_csv("/customer personality analysis.zip", sep = '\t')

In [39]:
df

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,5,0,0,0,0,0,0,3,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10870,1967,Graduation,Married,61223.0,0,1,13-06-2013,46,709,...,5,0,0,0,0,0,0,3,11,0
2236,4001,1946,PhD,Together,64014.0,2,1,10-06-2014,56,406,...,7,0,0,0,1,0,0,3,11,0
2237,7270,1981,Graduation,Divorced,56981.0,0,0,25-01-2014,91,908,...,6,0,1,0,0,0,0,3,11,0
2238,8235,1956,Master,Together,69245.0,0,1,24-01-2014,8,428,...,3,0,0,0,0,0,0,3,11,0
2239,9405,1954,PhD,Married,52869.0,1,1,15-10-2012,40,84,...,7,0,0,0,0,0,0,3,11,1

In [43]:
# shape of the dataset
df.shape

(2240, 29)

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2240 non-null   int64
 1   Year_Birth           2240 non-null   int64
 2   Education            2240 non-null   object
 3   Marital_Status       2240 non-null   object
 4   Income               2216 non-null   float64
 5   Kidhome              2240 non-null   int64
 6   Teenhome             2240 non-null   int64
 7   Dt_Customer          2240 non-null   object
 8   Recency              2240 non-null   int64
 9   MntWines             2240 non-null   int64
 10  MntFruits            2240 non-null   int64
 11  MntMeatProducts      2240 non-null   int64
 12  MntFishProducts      2240 non-null   int64
 13  MntSweetProducts     2240 non-null   int64
 14  MntGoldProds         2240 non-null   int64
 15  NumDealsPurchases    2240 non-null   int64
 16  NumWebPurchases      2240 non-null   int64
 17  NumCatalogPurchases  2240 non-null   int64
 18  NumStorePurchases    2240 non-null   int64
 19  NumWebVisitsMonth    2240 non-null   int64
 20  AcceptedCmp3         2240 non-null   int64
 21  AcceptedCmp4         2240 non-null   int64
 22  AcceptedCmp5         2240 non-null   int64
 23  AcceptedCmp1         2240 non-null   int64
 24  AcceptedCmp2         2240 non-null   int64
 25  Complain             2240 non-null   int64
 26  Z_CostContact        2240 non-null   int64
 27  Z_Revenue            2240 non-null   int64
 28  Response             2240 non-null   int64
dtypes: float64(1), int64(25), object(3)
memory usage: 507.6+ KB

In [45]:
# Now we will see null or NaN values
df.isna().sum()

ID                      0
Year_Birth              0
Education               0
Marital_Status          0
Income                 24
Kidhome                 0
Teenhome                0
Dt_Customer             0
Recency                 0
MntWines                0
MntFruits               0
MntMeatProducts         0
MntFishProducts         0
MntSweetProducts        0
MntGoldProds            0
NumDealsPurchases       0
NumWebPurchases         0
NumCatalogPurchases     0
NumStorePurchases       0
NumWebVisitsMonth       0
AcceptedCmp3            0
AcceptedCmp4            0
AcceptedCmp5            0
AcceptedCmp1            0
AcceptedCmp2            0
Complain                0
Z_CostContact           0
Z_Revenue               0
Response                0
dtype: int64

In [46]:
df=df.dropna()
df.shape

(2216, 29)

In [50]:
df.drop_duplicates()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,5,0,0,0,0,0,0,3,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10870,1967,Graduation,Married,61223.0,0,1,13-06-2013,46,709,...,5,0,0,0,0,0,0,3,11,0
2236,4001,1946,PhD,Together,64014.0,2,1,10-06-2014,56,406,...,7,0,0,0,1,0,0,3,11,0
2237,7270,1981,Graduation,Divorced,56981.0,0,0,25-01-2014,91,908,...,6,0,1,0,0,0,0,3,11,0
2238,8235,1956,Master,Together,69245.0,0,1,24-01-2014,8,428,...,3,0,0,0,0,0,0,3,11,0
2239,9405,1954,PhD,Married,52869.0,1,1,15-10-2012,40,84,...,7,0,0,0,0,0,0,3,11,1

In [51]:
df.duplicated().sum()

np.int64(0)

In [52]:
# transform year column into dateti,e format
df['Year_Birth'] = pd.to_datetime(df['Year_Birth'], format='%Y')

<ipython-input-52-2bf0f1ea2c2a>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Year_Birth'] = pd.to_datetime(df['Year_Birth'], format='%Y')

In [55]:
df.describe().T

,count,mean,min,25%,50%,75%,max,std
ID,2216.0,5588.353339,0.0,2814.75,5458.5,8421.75,11191.0,3249.376275
Year_Birth,2216,1968-10-27 00:27:56.534296032,1893-01-01 00:00:00,1959-01-01 00:00:00,1970-01-01 00:00:00,1977-01-01 00:00:00,1996-01-01 00:00:00,NaN
Income,2216.0,52247.251354,1730.0,35303.0,51381.5,68522.0,666666.0,25173.076661
Kidhome,2216.0,0.441787,0.0,0.0,0.0,1.0,2.0,0.536896
Teenhome,2216.0,0.505415,0.0,0.0,0.0,1.0,2.0,0.544181
Recency,2216.0,49.012635,0.0,24.0,49.0,74.0,99.0,28.948352
MntWines,2216.0,305.091606,0.0,24.0,174.5,505.0,1493.0,337.32792
MntFruits,2216.0,26.356047,0.0,2.0,8.0,33.0,199.0,39.793917
MntMeatProducts,2216.0,166.995939,0.0,16.0,68.0,232.25,1725.0,224.283273
MntFishProducts,2216.0,37.637635,0.0,3.0,12.0,50.0,259.0,54.752082
MntSweetProducts,2216.0,27.028881,0.0,1.0,8.0,33.0,262.0,41.072046
MntGoldProds,2216.0,43.965253,0.0,9.0,24.5,56.0,321.0,51.815414
NumDealsPurchases,2216.0,2.323556,0.0,1.0,2.0,3.0,15.0,1.923716
NumWebPurchases,2216.0,4.085289,0.0,2.0,4.0,6.0,27.0,2.740951
NumCatalogPurchases,2216.0,2.671029,0.0,0.0,2.0,4.0,28.0,2.926734
NumStorePurchases,2216.0,5.800993,0.0,3.0,5.0,8.0,13.0,3.250785
NumWebVisitsMonth,2216.0,5.319043,0.0,3.0,6.0,7.0,20.0,2.425359
AcceptedCmp3,2216.0,0.073556,0.0,0.0,0.0,0.0,1.0,0.261106
AcceptedCmp4,2216.0,0.074007,0.0,0.0,0.0,0.0,1.0,0.261842
AcceptedCmp5,2216.0,0.073105,0.0,0.0,0.0,0.0,1.0,0.260367
AcceptedCmp1,2216.0,0.064079,0.0,0.0,0.0,0.0,1.0,0.24495
AcceptedCmp2,2216.0,0.013538,0.0,0.0,0.0,0.0,1.0,0.115588
Complain,2216.0,0.009477,0.0,0.0,0.0,0.0,1.0,0.096907
Z_CostContact,2216.0,3.0,3.0,3.0,3.0,3.0,3.0,0.0
Z_Revenue,2216.0,11.0,11.0,11.0,11.0,11.0,11.0,0.0
Response,2216.0,0.150271,0.0,0.0,0.0,0.0,1.0,0.357417

In [56]:
df.describe(include=[object])

         Education Marital_Status Dt_Customer
count         2216           2216        2216
unique           5              8         662
top     Graduation        Married  31-08-2012
freq          1116            857          12